@charset "utf-8";

@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

@import "reset";
@import "variables";
@import "grid";
@import "hover";

$white: #fff;
$primary-color: #5B6584;
$poster-txt: $white;
$grey-25: #d0d0d0;
$grey-txt: #712bce;
$grey-txt-d1: $poster-txt;
$border-radius-base: 3px;
$sm-screen: 500px;

/********************************************
GENERAL
********************************************/

* {
  color: $white;
  font-size: 20px;
  line-height: 1.5em;
  font-family: 'Nanum Myeongjo', serif;
}
.sans,
.artwork-description {
  font-family: 'Spoqa Han Sans', sans-serif;
}

.text-bold {
  font-weight: 700;
}

.text-right {
  text-align: right;
}

.text-primary {
  color: $primary-color;
}

.container {
  max-width: 740px; //960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

a {
  color: $white;
  transition: 0.2s ease;
  &:hover {
    color: $primary-color;
  }
}

.adhoc-br {
  display: none;
  @media only screen and (max-width: $sm-screen) {
    display: block;
  }
}

h1 {
  font-size: 1.8em;
}
h3 {

}

p {

}

ol li, ul li {

  line-height: 1.6em;
}

section {
  background-color: $primary-color;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

section.bg-img {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: $primary-color;
  @media only screen and (max-width: $sm-screen) {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  &.main {
    padding-top: 160px;
    text-align: center;
    background: url('/img/2.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
  &.mira {
    background: url('/img/1.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
  &.jisun {
    background: url('/img/2.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
}

.text-js.hero-title {
  margin-bottom: 10px;
}

.hero-title {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 70px;
  @media only screen and (max-width: $sm-screen) {
    font-size: 44px;
  }
}
.section-title {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: -0.08em;
  line-height: 1.4em;
  margin-bottom: 50px;
  word-break: keep-all;
  @media only screen and (max-width: $sm-screen) {
    font-size: 25px;
  }
}

.hr {
  width: 100%;
  height: 1px;
  background-color: $primary-color;
}

.btn {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  &:hover {
    text-decoration: none;
  }
}

.btn-line {
  border-radius: 0;
  color: $white;
  padding: 14px 34px;
  border: 2px solid $white;
  &:hover {
    background-color: rgba($white, 0.5);
  }
}

/********************************************
NAVIGATION
********************************************/

nav {
  padding: 34px 20px 14px 20px;
  z-index: 1100;
  top: 0;
  position: fixed;
  display: inline-block;
  width: 100%;
  background-color: transparent;

  .site-title {
    font-size: 20px;
    display: inline-block;
    text-align: center;
    &:hover {
      text-decoration: none;
      color: $white;
    }
    @media only screen and (max-width: $sm-screen) {
      font-size: 18px;
    }
  }

  .nav-menu li a {
    text-decoration: none;
    color: rgba($white, 0.9);
    font-size: 20px;
    font-weight: 500;
    padding-left: 8px;
    padding-right: 8px;

    -webkit-transition: box-shadow .20s ease-out;
    -moz-transition: box-shadow .20s ease-out;
    -o-transition: box-shadow .20s ease-out;
    transition: box-shadow .20s ease-out;

    &:hover {
      color: rgba($white, 1);
      border-bottom: 2px solid rgba($primary-color, 0.8);
      box-shadow: inset 0 -15px 0 rgba($primary-color, 0.8);
    }
    @media only screen and (max-width: $sm-screen) {
      font-size: 18px;
    }
  }

}

ul.nav-menu {
  display: inline-flex;
  float: right;
  text-align: right;
  position: fixed;

  li {
    padding: 0px 4px;
  }
}

/********************************************
MAIN
********************************************/

.exhibition-info {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  @media only screen and (max-width: $sm-screen) {
    font-size: 20px;
  }
}

/********************************************
ARTISTS
********************************************/

.short-divider {
  margin-top: 20px;
  margin-bottom: 20px;
}
.vertical-divider {
  color: rgba($white, 0.2);
}
.artwork-title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 14px;
}
.artwork-description {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 20px;
}


/********************************************
FOOTER
********************************************/
footer {
  border-top: 1px solid $primary-color;
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 0;
  color: $grey-25;
  margin-top: 60px;

  h6 {
    font-weight: 700;
    margin-bottom: 12px;
  }
}


@import "responsive";


/**Typing effect

.text-js {
  opacity: 0;
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
**/
