@charset "utf-8";

@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

@import "reset";
@import "variables";
@import "grid";
@import "hover";

$white: #fff;
$primary-color: #5B6584;
$poster-txt: $white;
$dark-grey: #333;
$grey-25: #d0d0d0;
$grey-txt: #712bce;
$grey-txt-d1: $poster-txt;
$border-radius-base: 3px;
$sm-screen: 500px;

/********************************************
GENERAL
********************************************/

.site-header, .site-footer {
  display: none;
}

* {
  color: $white;
  font-size: 20px;
  line-height: 1.5em;
  font-family: 'Nanum Myeongjo', serif;
}
.sans,
.artwork-description,
.artwork-description strong,
ul.exhibition-detail-info li,
.detail-info-title {
  font-family: 'Spoqa Han Sans', sans-serif;
}

.text-bold {
  font-weight: 700;
}

.text-right {
  text-align: right;
}

.text-primary {
  color: $primary-color;
}

.container {
  max-width: 740px; //960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

a {
  color: $white;
  transition: 0.2s ease;
  &:hover {
    color: $primary-color;
  }
}

.adhoc-br {
  display: none;
  @media only screen and (max-width: $sm-screen) {
    display: block;
  }
}

h1 {
  font-size: 1.8em;
}
h3 {

}

p {

}

ol li, ul li {
  line-height: 1.6em;
}

section {
  background-color: $primary-color;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 40px;
  margin: 0;
}

section.bg-img {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: $primary-color;
  @media only screen and (max-width: $sm-screen) {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  &.main {
    padding-top: 160px;
    text-align: center;
    background: url('/img/bg-poster2.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
  &.mira {
    background: url('/img/bg-mira.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;

    .section-title,
    h4,
    p {
      color: $dark-grey;
    }
    a {
      border: 1px solid $dark-grey;
      color: $dark-grey;
    }
  }
  &.hyemin {
    background: url('') no-repeat;
    background-color: #DBBEE7;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
  &.keongmi {
    background: url('/img/bg-kyungmi.jpg') no-repeat;
    background-color: $primary-color;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;

    .section-title,
    h4,
    p {
      color: $dark-grey;
    }
    a {
      border: 1px solid $dark-grey;
      color: $dark-grey;
    }
  }
  &.jisun {
    background: url('/img/bg-jisun.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
  &.eunji {
    background: url('/img/bg-eunji.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
  &.somi {
    background: url('') no-repeat;
    background-color: #5B5F73;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
  &.gayoung {
    background: url('/img/bg-gayoung.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;

    .section-title,
    h4,
    p {
      color: $dark-grey;
    }
    a {
      border: 1px solid $dark-grey;
      color: $dark-grey;
    }
  }
  &.miso {
    background: url('') no-repeat;
    background-color: #F4799E;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
  &.youngbin {
    background: url('') no-repeat;
    background-color: #523459;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
  &.heewon {
    background: url('/img/bg-heewon.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;

    .section-title,
    h4,
    p {
      color: $dark-grey;
    }
    a {
      border: 1px solid $dark-grey;
      color: $dark-grey;
    }
  }
}

h1.text-js.hero-title {
  margin-bottom: 10px;
}

.hero-title {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 40px;
  min-height: 70px;
  @media only screen and (max-width: $sm-screen) {
    font-size: 44px;
    min-height: 48px;
  }
}
.section-title {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: -0.04em;
  line-height: 1.4em;
  margin-bottom: 50px;
  word-break: keep-all;
  @media only screen and (max-width: $sm-screen) {
    font-size: 21px;
    margin-bottom: 10px;
  }
}

.hr {
  width: 100%;
  height: 1px;
  background-color: $primary-color;
}

.btn {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  &:hover {
    text-decoration: none;
  }
}

.btn-line {
  border-radius: 0;
  color: $white;
  padding: 14px 34px;
  border: 2px solid $white;
  &:hover {
    background-color: rgba($white, 0.5);
  }
}

.btn-line-sm {
  border-radius: 0;
  font-size: 16px;
  color: $white;
  padding: 8px 34px;
  border: 1px solid $white;
  &:hover {
    background-color: rgba($white, 0.5);
  }
}

/********************************************
RIPPLE CANVAS
********************************************/
#ripple-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/********************************************
NAVIGATION
********************************************/

nav {
  padding: 34px 20px 14px 20px;
  z-index: 1100;
  top: 0;
  position: fixed;
  display: inline-block;
  width: 100%;
  background-color: transparent;

  .site-title,
  .nav-menu li a {
    text-shadow: 1px 1px 4px rgba(#000, 0.3);
    text-decoration: none;
  }

  .site-title {
    font-size: 20px;
    display: inline-block;
    text-align: center;

    &:hover,
    &:visited {
      text-decoration: none;
      color: $white;
    }
    @media only screen and (max-width: $sm-screen) {
      font-size: 18px;
    }
  }

  .nav-menu li a {
    background-color: rgba($white, 0);
    color: rgba($white, 0.9);
    font-size: 20px;
    font-weight: 500;
    padding: 2px 8px;

    -webkit-transition: background-color .20s ease-out;
    -moz-transition: background-color .20s ease-out;
    -o-transition: background-color .20s ease-out;
    transition: background-color .20s ease-out;

    &:hover {
      color: $dark-grey;
      background-color: rgba($white, 0.6);
      text-shadow: none;
    }
    @media only screen and (max-width: $sm-screen) {
      font-size: 18px;
    }
  }

}

ul.nav-menu {
  display: inline-flex;
  float: right;
  text-align: right;

  li {
    padding: 0px 4px;
  }
}

/********************************************
MAIN
********************************************/

.exhibition-info {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  @media only screen and (max-width: $sm-screen) {
    font-size: 20px;
  }
}

p.introduction {
  margin-bottom: 30px;
  line-height: 1.9em;
  word-break: keep-all;
}

ul.exhibition-detail-info li {
  line-height: 1.9em;
}

.adhoc-br {
  display: none;
  @media only screen and (max-width: $sm-screen) {
    display: block;
  }
}

/********************************************
ARTISTS
********************************************/

.short-divider {
  margin-top: 20px;
  margin-bottom: 20px;
}

.detail-info-title,
.vertical-divider {
  color: rgba($white, 0.2);
}
.artist-contact .vertical-divider {
  color: rgba($white, 0);
}
.artwork-title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 14px;
  @media only screen and (max-width: $sm-screen) {
    font-size: 18px;
  }
}
.artwork-description {
  font-size: 16px;
  font-weight: 300;
  word-break: keep-all;
}

.artist-contact {
  margin-top: 50px;
}

/********************************************
GROUP-INFO
********************************************/
#group-info {
  ul li {
    font-size: 16px;
    margin-bottom: 1.1em;
    line-height: 30px;
    border-radius: 5px;
    word-break: keep-all;
    padding: 10px 0;

    -webkit-transition: background-color .60s ease-out;
    -moz-transition: background-color .60s ease-out;
    -o-transition: background-color .60s ease-out;
    transition: background-color .60s ease-out;

    -webkit-transition: padding-left .3s ease-out;
    -moz-transition: padding-left .3s ease-out;
    -o-transition: padding-left .3s ease-out;
    transition: padding-left .3s ease-out;

    &:hover {
      background-color: rgba(#4E597A, 0.5);
      padding-left: 14px;
    }
  }
}


/********************************************
FOOTER
********************************************/
footer {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 0;
  color: $primary-color;
  a.link, p, a span {
    color: $primary-color;
  }
  h6 {
    font-weight: 700;
    margin-bottom: 12px;
  }
}


@import "responsive";


/**Typing effect

.text-js {
  opacity: 0;
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
**/



.wave {
	font-size: 40px;
	position: relative;
  & span {
  	transform: translate(40px, 20px) rotate(-10deg);
  	transform-origin: 50% 50%;
  	left: 47%;
  	display: block;
  	position: absolute;
  	animation: wave 1000ms ease-in-out infinite alternate;
  }
}

@keyframes wave {
	0% {
		transform: translate(0px, 0px) rotate(10deg);
	}
	100% {
		transform: translate(0px, 10px) rotate(-5deg);
	}
}

.text-center {
  text-align: center;
}


//countdown-contents

.countdown-contents {
 background-color: #5B6584;
 div {
   margin: 35vh 0;
   text-align: center;
 }
 #count {
   color: white;
   font-size: 2em;
 }
 .text {
   color: white;
   font-size: 2.8em;
 }
 .location {
   margin-top: 10px;
   margin-bottom: 5px;
 }
}
