/*
Error: Invalid CSS after "...ns', sans-serif": expected "{", was ";"
        on line 42 of css/style.scss

37: ul.exhibition-detail-info li,
38: .detail-info-title {
39: =======
40: .artwork-description strong {
41: >>>>>>> 2012a3ca8812fbad66178ef78860fc76257d4fbc
42:   font-family: 'Spoqa Han Sans', sans-serif;
43: }
44: 
45: .text-bold {
46:   font-weight: 700;
47: }

Backtrace:
css/style.scss:42
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:1203:in `tok!'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:677:in `block'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:686:in `block_contents'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:686:in `block_contents'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:670:in `ruleset'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:320:in `block in watch'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/usr/local/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ns', sans-serif\": expected \"{\", was \";\"\A         on line 42 of css/style.scss\A \A 37: ul.exhibition-detail-info li,\A 38: .detail-info-title {\A 39: =======\A 40: .artwork-description strong {\A 41: >>>>>>> 2012a3ca8812fbad66178ef78860fc76257d4fbc\A 42:   font-family: 'Spoqa Han Sans', sans-serif;\A 43: }\A 44: \A 45: .text-bold {\A 46:   font-weight: 700;\A 47: }"; }
