<section class="bg-img artist-04 eunji">
    <div class="container row">
      <div class="col-xs-offset-1 col-xs-10 col-sm-10">
        <div class="type-js-0">
          <h2 class="text-js-0 section-title">신은지는 새로운 것을 찾아다닌다.</h2>
        </div>
        <p class="short-divider">
          -
        </p>
        <div class="artwork-info">
          <h4 class="artwork-title">Tea Tag Library</h4>
          <p class="artwork-description">가로, 세로 2~3cm 작은 공간에 담는 기업의 아이덴티티와 디자인 효율성</p>
          <p class="artist-contact">
            <a href="mailto:coolestcat@naver.com" class="link">✉️</a>  <span class="vertical-divider">|</span> <a href="https://www.instagram.com/coolcat_teatag/" target="_blank" class="link">🌐</a>
          </p>
        </div>
      </div>
    </div>
</section>
