<section id="exhibition-info" class="bg-img">
  <div class="container row">
    <div class="col-xs-offset-1 col-xs-10">
      <h2 class="section-title">전시 소개</h2>
      <p class="introduction">
        전시 벌써 오년 전이 서교동 더갤러리에서 12월 13일부터 18일까지 열린다. 2013년부터 다섯 번째로 열리는 이 전시는 2012년 시각디자인전공 졸업전시를 함께 한 디자인과 졸업생들이 매년 말 모여 만드는 전시이다. 졸업 후 사회생활 5년 차, 전시에 참여하는 10명은 직업과 분야 모두 다르지만, 각자의 자리에서 활발히 활동하는 여성으로서 자신들의 좌표를 끊임없이 질문한다.
        일 년에 한 번 전시를 함께 연다는 것 외에는 연결고리를 찾기 힘든 이들이 5년째 함께 전시하고 있다는 것은, 그만큼 이 전시가 각자가 걸어가고 있는 길에 대한 중간 점검, 나아가 미래의 역할에 대해 고민하는 스스로에게 어렴풋이나마 직접 만들어 낸 답을 내보이는 자리였기 때문일 것이다. 10명의 여성의 서로 다른 이야기가 같은 고민을 하는 이들에게 실마리가 되기를 바란다.
      </p>
      <ul class="exhibition-detail-info">
        <li><span class="detail-info-title">위치</span> <span class="vertical-divider">| </span><br class="adhoc-br">서울시 마포구 서교동 367-13 땡스북스 건물 2F</li>
        <li><span class="detail-info-title">관람 시간</span> <span class="vertical-divider">| </span><br class="adhoc-br">수-일 PM12:00~8:00 / 월 PM12:00~6:00</li>
        <li><span class="detail-info-title">연계 토크</span> <span class="vertical-divider">| </span><br class="adhoc-br">토 PM5:00~6:00</li>
      </ul>
    </div>
  </div>
</section>
