<section class="bg-img artist-06 gayoung">
    <div class="container row">
      <div class="col-xs-offset-1 col-xs-10 col-sm-10">
        <div class="type-js-0">
          <h2 class="text-js-0 section-title">조가영은 작년까지만 해도 자신을 잘 안다고 생각했는데, 일년이 지나자 다시 혼란스러워졌다.</h2>
        </div>
        <p class="short-divider">
          -
        </p>
        <div class="artwork-info">
          <h4 class="artwork-title">서른살가영이체</h4>
          <p class="artwork-description">무념무상으로 글자를 쓰고있다보니 마음이 평안해졌다.</p>
          <p class="artist-contact">
            <a href="mailto:Joga_work@naver.com" class="link">✉️</a>  <span class="vertical-divider">|</span> <a href="http://jogayoung.com" target="_blank" class="link">🌐</a>
          </p>
        </div>
      </div>
    </div>
</section>
