<section class="bg-img artist-06 gayoung">
    <div class="container row">
      <div class="col-xs-offset-1 col-xs-10 col-sm-10">
        <div class="type-js-0">
          <h2 class="text-js-0 section-title">조가영은 나라는 인간은 기본적으로 걱정이 많다는 것을 깨닫게 되었고, 그러자 생각보다 걱정할 게 없다는 역설적인 결론에 도달했다.</h2>
        </div>
        <p class="short-divider">
          -
        </p>
        <div class="artwork-info">
          <h4 class="artwork-title">서른살가영이체</h4>
          <p class="artwork-description">언젠가는 만들고 싶었던 내 폰트를 만들었다. 한 자 한 자 글자를 만들어가다보니 잡념들이 조금씩 사라졌다. 생각이 많아지는 서른살의 나를 담은 폰트.</p>
          <p class="artist-contact">
            <a href="mailto:Joga_work@naver.com" class="btn btn-line-sm">✉️ email</a>  <span class="vertical-divider">|</span> <a href="http://jogayoung.com" target="_blank" class="btn btn-line-sm">🌐 web</a>
          </p>
        </div>
      </div>
    </div>
</section>
