<section class="bg-img artist-01 hyemin">
    <div class="container row">
      <div class="col-xs-offset-1 col-xs-10 col-sm-10">
        <div class="type-js-0">
          <h2 class="text-js-0 section-title">김혜민은 요즘 행복하다. 일과 삶을 즐기는 법을 조금 알아낸 것 같다. 조금 더 좋은 사람이 되고 싶다.</h2>
        </div>
        <p class="short-divider">
          -
        </p>
        <div class="artwork-info">
          <h4 class="artwork-title">Magathon x Seeso</h4>
          <p class="artwork-description">10월 28일. 다양한 크리에이터들이 모여 일과 삶의 균형, 더 자유로운 삶을 위한 생각들을 가지고 재밌게 무언가를 만들며 놀았다.</p>
          <p class="artist-contact">
            <a href="mailto:heamin.hm.kim@gmail.com" class="btn btn-line-sm">✉️ email</a>  <span class="vertical-divider">|</span> <a href="https://www.instagram.com/heamin.kim/?hl=ko" target="_blank" class="btn btn-line-sm">🌐 web</a>
          </p>
        </div>
      </div>
    </div>
</section>
