<section class="bg-img artist-03 jisun">
    <div class="container row">
      <div class="col-xs-offset-1 col-xs-10 col-sm-10">
        <div class="type-js-0">
          <h2 class="text-js-0 section-title">박지선은 여전히 최종 목적지를 잘 모르겠지만 요즘 이것저것 재밌어서 <br>이 길을 가다보면 그 나름의 멋진 목적지에 다다를 것 같은 좋은 예감이 든다.</h2>
        </div>
        <p class="short-divider">
          -
        </p>
        <div class="artwork-info">
          <h4 class="artwork-title">Nomad Day</h4>
          <p class="artwork-description">도보거리 기준으로 주변 작업 장소를 빠르게 찾아주는 앱 <strong>노마드 데이</strong>. 필요해서 직접 만들기 시작했다. 박지선, 임연준 만듬.</p>
          <p class="artist-contact">
            <a href="mailto:jisun89park@gmail.com" class="btn btn-line-sm">✉️ email</a>  <span class="vertical-divider">|</span> <a href="http://jisunjessica.github.io/nomad-day" target="_blank" class="btn btn-line-sm">🌐 web</a>
          </p>
        </div>
      </div>
    </div>
</section>
