<section class="bg-img artist-02 keongmi">
    <div class="container row">
      <div class="col-xs-offset-1 col-xs-10 col-sm-10">
        <div class="type-js-0">
          <h2 class="text-js-0 section-title">김경미는 삶에서 중요 순위가 뒤죽박죽 요동치고 있다.</h2>
        </div>
        <p class="short-divider">
          -
        </p>
        <div class="artwork-info">
          <h4 class="artwork-title">HAPPY 2018</h4>
          <p class="artwork-description">내가 직접 그려나간 2018년</p>
          <p class="artist-contact">
            <a href="mailto:sloveue526@gmail.com" class="btn btn-line-sm">✉️ email</a>  <span class="vertical-divider">|</span> <a href="http://design-recipe.com/" target="_blank" class="btn btn-line-sm">🌐 web</a>
          </p>
        </div>
      </div>
    </div>
</section>
