<section class="bg-img artist mira">
    <div class="container row">
      <div class="col-xs-offset-1 col-xs-10 col-sm-10">
        <div class="type-js-0">
          <h2 class="text-js-0 section-title">공미라는 다섯번의 파도를 넘은 끝에 행복할 수 있는 삶의 조건을 터득했다.</h2>
        </div>
        <p class="short-divider">
          -
        </p>
        <div class="artwork-info">
          <h4 class="artwork-title">돈공부</h4>
          <p class="artwork-description">이자로 월급받는 삶을 꿈꾸며 오늘도 돈공부에 매진한다.</p>
          <p class="artist-contact">
            <a href="mailto:mirakong729@naver.com" class="link">✉️</a>  <span class="vertical-divider">|</span> <a href="http://mirakkong.com" target="_blank" class="link">🌐</a>
          </p>
        </div>
      </div>
    </div>
</section>
