<section class="bg-img artist-07 miso">
    <div class="container row">
      <div class="col-xs-offset-1 col-xs-10 col-sm-10">
        <div class="type-js-0">
          <h2 class="text-js-0 section-title">노미소는 근본적으로 행복해지기는 글러먹은, **같은 성격의 소유자라는 것을 이제야 깨달았다.</h2>
        </div>
        <p class="short-divider">
          -
        </p>
        <div class="artwork-info">
          <h4 class="artwork-title">No pain but i gain</h4>
          <p class="artwork-description">노력없이 얻고싶은, 욕망의 염원을 요술봉에 담아</p>
          <p class="artist-contact">
            <a href="mailto:juicyheart@naver.com" class="btn btn-line-sm">✉️ email</a>  <span class="vertical-divider">|</span> <a href="#" target="_blank" class="btn btn-line-sm">🌐 web</a>
          </p>
        </div>
      </div>
    </div>
</section>
