.col-sm-83 {
  width: 83.3%;
}

@media screen and (max-width: 2600px) {
  .thumbnail.hover {
    left: 50%;
  }
  .col-sm-83 {
    width: 100%;
  }
}

@media screen and (min-width: 1500px) {
  ul.nav-menu {
    position: static;
  }
  .col-sm-83 {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  ul.nav-menu {
    position: static;
  }
  .col-sm-83 {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .thumbnail.hover {
    left: 50%;
  }
  ul.nav-menu {
    display: inline-flex;
    text-align: left;
    float: right;
    right: 0px;
    position: static;
    margin-top: 2px;

    li {
      margin-right: 4px;
    }
  }
  .col-sm-83 {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .thumbnail.hover {
    width: 400px;
    height: 400px;
    //left: 25%;
  }
}

@media screen and (max-width: 767px) {
  div {
    overflow-x: hidden;
  }
  #artists {
    h4 {
      margin-bottom: 2px;
    }
    h4.artwork-title {
      margin-top: 16px;
    }
  }
  .thumbnail.hover {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 700px) {
  .thumbnail.hover {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .thumbnail.hover {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 547px) {
  .thumbnail.hover {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 506px) {
  div {
    overflow-x: hidden;
  }
  ul.nav-menu {
    a {
      padding-left: 0;
    }
  }

  .thumbnail.hover {
    width: 300px;
    height: 300px;
    top: 50%;
  }
}
