//countdown-contents

.countdown-contents {
 background-color: $primary-color;
 div {
   margin: 35vh 0;
   text-align: center;
 }
 #count {
   color: white;
   font-size: 2em;
 }
 .text {
   color: white;
   font-size: 2.8em;
 }
 .location {
   margin-top: 10px;
   margin-bottom: 5px;
 }
}
