<!DOCTYPE html>
<head>
  <title>벌써 오년 전展</title>
  {% include meta.html %}

  <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="js/typing-effect.js"></script>
  <script>
    $(document).ready(function(){
      autoType(".type-js",100);
    });
  </script>
</head>

<body>
  <nav>
    <a href="#" class="site-title">
      벌써 오년 전展
    </a>
    <ul class="nav-menu">
      <li><a href="#group-info">그룹 소개</a></li>
      <li><a href="">토크 신청</a></li>
    </ul>
  </nav>

  <section class="bg-img main">
      <div class="container row">
        <div class="col-xs-12">
          <div class="type-js">
            <h1 class="text-js hero-title">The 5th wave</h1>
            <h1 class="hero-title">we’re getting through</h1>
          </div>
          <p class="exhibition-info sans">
            2017.12.11월 - 17일 <br class="adhoc-br">⛵️ 서교동 더갤러리 2F
          </p>
          <a href="#" class="btn btn-line sans">토크 참여 신청</a>
        </div>
      </div>
  </section>

  {{ content }}

  <footer>
    <div class="container-fluid">
      <div class="row">
      <p class="col-xs-6 copyright-text">
        &copy; 2017 <a href="http://jisunpark.kr" target="_blank" class="link"><span class="text-bold">Jisun park</span></a>
      </p>
      <p class="col-xs-6 text-right text-bold">
        <a href="https://www.facebook.com/already4years/" target="_blank" class="link">Facebook</a> /
        <a href="https://www.instagram.com/n.years.ago/" target="_blank" class="link">Instagram</a>
      </p>
      </div>
    </div>
  </footer>
</body>

</html>
